.topNavAndLowerPortion {
  display: flex;
  flex-direction: column;
  /* width: 1300px; */
  background-color: brown;
}

.lowerPortion {
  display: flex;
  flex-direction: row;
}

.rightNav {
  width: 800px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: brown;
}
