.flashcard {
  border: 2px solid red;
  border-radius: 50px;
  width: 241px;
  height: 250px;
  margin: 5px;
  padding: 10px;
  perspective: 100px;
  background-color: blanchedalmond;
}

.flashcardBack {
}
