.fontSelector {
  display: flex;
  flex-direction: column;
  height: 288px;
  width: 230px;
  background-color: floralwhite;
}

.fontSelectButton {
  border-radius: 10px;
  width: 190px;
  height: 40px;
  background-color: yellow;
  margin: auto;
}

.fontSelectButton:hover {
  background-color: gold;
}

.fontSelectHeader {
  background-color: bisque;
}

.fontSelectHeader {
  margin: 10px;
}
