.levelSelector {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: aqua;
}

.levelSelectHeader {
  background-color: white;
}

.levelSelectButton {
  width: 80px;
  margin: 1px;
  text-align: center;
}
